.d-flex {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  gap: 0.2rem;
}

.delete-btn {
  height: 90px;
  width: 70px;
  border: 1px solid #30303079;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(28, 92, 131, 0.238);
  transition: 0.3s ease-in-out;
  align-items: center;
  cursor: pointer;

  :hover {
    opacity: 85%;
  }
}


.reset-btn {
  height: 90px;
  width: 70px;
  border: 1px solid #30303079;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(131, 28, 28, 0.238);
  transition: 0.3s ease-in-out;
  align-items: center;
  cursor: pointer;

  :hover {
    opacity: 85%;
  }
}

.input-display {
  height: 90px;
  width: 70px;
  border: 1px solid #30303079;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(255, 255, 245, 0.238);
  transition: 0.3s ease-in-out;
  cursor: pointer;

  &.active {
    background-color: rgba(178, 253, 178, 0.492) ;
  }

  .title {
    font-size: 20px;
    text-align: center;
  }

  .meta {
    display: flex;

    span {
      background-color: #a9a9a91d;
      border: 1px solid #30303079;
      display: inline-block;
      flex-grow: 1;
      width: 100%;
      height: 0.7rem;
      font-size: 12px;
      text-align: center;
      padding: 2px 0;
    }
  }
}
